body {
    font-family: Arial;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows)  */
  .container {
    position: relative;
    
  }
 
  /* Hide the images by default  */
  .mySlides {
    display: none;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  .active, .demo:hover {
    opacity: 1;
  }

/* Phân hình ảnh*/
h2{
  text-align:center;
}
.img{
  position: relative;
  margin:0% 0% 0% 1%;
}
  .img .galery{
      margin:2% 1% 1% 0%;
      border:1px solid #5753538a;
      float:left;
      
  }
  .galery img{
    width:100%;
    height:auto;
  }
  .galery:hover{
    border: 1px solid #581b1b
  }
  .img .decs{
    text-align: center;
    padding:2%;
  }
